<!DOCTYPE html>
<html class="with-statusbar-overlay" manifest="manifest.php">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>ToDo7</title>
    <link rel="stylesheet" href="libs/framework7/dist/css/framework7.ios.min.css">
    <link rel="stylesheet" href="libs/framework7/dist/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="css/todo7.css">
    <!-- Favicon-->
    <link href="img/icon-57.png" rel="shortcut icon"> <!-- iOS 7 iPad (retina) -->
<link href="img/icon-152.png" sizes="152x152" rel="apple-touch-icon">
<!-- iOS 6 iPad (retina) -->
<link href="img/icon-144.png" sizes="144x144" rel="apple-touch-icon">
<!-- iOS 7 iPhone (retina) -->
<link href="img/icon-120.png" sizes="120x120" rel="apple-touch-icon">
<!-- iOS 6 iPhone (retina) -->
<link href="img/icon-114.png" sizes="114x114" rel="apple-touch-icon">
<!-- iOS 7 iPad -->
<link href="img/icon-76.png" sizes="76x76" rel="apple-touch-icon">
<!-- iOS 6 iPad -->
<link href="img/icon-72.png" sizes="72x72" rel="apple-touch-icon">
<!-- iOS 6 iPhone -->
<link href="img/icon-57.png" sizes="57x57" rel="apple-touch-icon">
  </head>
  <body>
    <!-- Statusbar overlay-->
    <div class="statusbar-overlay"></div>
    <!-- Views-->
    <div class="views">
      <div class="view view-main navbar-fixed">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left"></div>
            <div class="center sliding">ToDo7</div>
            <div class="right"><a class="link icon-only open-popup" href="#"><i class="icon icon-plus">+</i></a></div>
          </div>
        </div>
        <div class="pages">
          <div class="page" data-page="index">
            <div class="page-content">
              <div class="list-block todo-items-list theme-pink"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Popup to add new task           -->
    <div class="popup">
      <div class="view view-popup navbar-fixed">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left"></div>
            <div class="center sliding">New Task</div>
            <div class="right"><a class="link close-popup" href="#">Cancel</a></div>
          </div>
        </div>
        <div class="pages">
          <div class="page">
            <div class="page-content">
              <div class="list-block">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Task</div>
                        <div class="item-input">
                          <input type="text" name="title">
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Color</div>
                        <div class="item-input"><span class="color selected" data-color="orange"></span><span class="color" data-color="green"></span><span class="color" data-color="blue"></span><span class="color" data-color="yellow"></span><span class="color" data-color="white"></span><span class="color" data-color="pink"></span><span class="color" data-color="purple"></span><span class="color" data-color="cyan"></span></div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="content-block"><a class="button add-task" href="#">Add Task</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Template-->
    <script id="todo-item-template" type="text/template">
      <ul>{{#each this}}
        <li class="swipeout" data-color="{{color}}" data-id="{{id}}">
          <div class="swipeout-content">
            <label class="label-checkbox item-content"><input type="checkbox" {{checked}}>
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title">{{title}}</div>
              </div>
            </label>
          </div>
          <div class="swipeout-actions-right"><a class="swipeout-delete" href="#">Delete</a></div>
        </li>{{/each}}
      </ul>
    </script>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="libs/framework7/dist/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="js/todo7.js"></script>
  </body>
</html>